body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #eee7e7;
    background-size: cover;
    overflow-y: hidden;
}
.header{
    background-color: #3E68FF;
    width: 15%;
    height: 100vh;
    position: fixed;
    box-shadow: 5px 1px 3px #d3d3d3;
    z-index: 999;
    border-radius: 0% 15% 0% 0%;
    flex-direction: column;
}
.foto{
    width: fit-content;
    height: fit-content;
}
.foto img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.foto p{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.logo-empresa{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5vh;
}
.container-charts{
    width: 100%;
}
.charts-row1{
    margin-left: 15%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
}
.chart1{
    padding: 20px;
    border-radius: 5%;
    width: 60vh;
    background-color: white;
    flex-direction: row;
    display: flex;
}
.bom{
    box-shadow:rgb(77, 129, 77) 0px 10px 60px -15px inset;
}
.atencao{
    box-shadow:rgb(221, 221, 27) 0px 10px 60px -15px inset;
}
.cuidado{
    box-shadow:orange 0px 10px 60px -15px inset;
}
.urgente{
    box-shadow:red 0px 10px 60px -15px inset;
}
.div-logo{
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.div-termometro{
    height: 150px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: none;
}
.img-termometro{
    height: 100px;
    width: 100px;
    margin-left: 90px;
    position: absolute;
    z-index: -2;
}
.termometro-bom{
    width: 90px;
    height: 30px;
    margin-top: 60px;
    background-color: darkgreen;
    margin-left: 90px;
    position: absolute;
    z-index: -2;
}
.termometro-atencao{
    width: 90px;
    height: 50px;
    margin-top: 40px;
    margin-left: 90px;
    position: absolute;
    z-index: -2;
    background-color: rgb(221, 221, 27);
}
.termometro-cuidado{
    width: 90px;
    height: 75px;
    margin-top: 20px;
    margin-left: 90px;
    position: absolute;
    z-index: -2;
    background-color: orange;
}
.termometro-urgente{
    width: 90px;
    height: 100px;
    margin-left: 90px;
    position: absolute;
    z-index: -2;
    background-color: red;
}
.div-setores{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div-setores select{
    width: 100%;
    border: 1px solid #eee7e7;
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color: #3E68FF;
}
.sair a{
    width: 99%;
    height: 35px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding: 8px 0px 8px 0px;
    text-decoration: none;
}
.sair h3{
    margin-top: 5px;
    padding-left: 8px;
    font-size: 25px;
    color: #ffffff;
}
.sair img{
    width: 40px;
}
.sair a:hover{
    cursor: pointer;
    box-shadow: 0px 10px 60px -15px #2352ff inset;
    transition: 1s;
}