* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

body {
    background-color: #161618;
}

.container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    background-color: #3E68FF;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.container-left h1 {
    font-size: 20px;
    color: #ffffff;
}

.container-left img {
    width: 50px;
}


.container-left-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 7vh 0;
}

.container-left-logo h1 {
    padding: 5px;
}

.container-left h3 {
    font-weight: 300;
    color: #ffffff;
}

.container-left-buttons {
    display: flex;
    padding-top: 10vh;
    flex-direction: column;

}

.buttons-left {
    margin: 3vh;
    background-color: #d9d9d9;
    border-radius: 15px;
    width: 20vh;
    height: 6vh;
    border: 2px solid #5d5d5d;
    font-weight: 300;
    font-size: 16px;
}

.container-left-func {
    display: flex;
    flex-direction: column;
    padding-top: 13vh;
}

.container button:hover {

    background-color: #2f2f2f;
    color: white;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    border: none;

}

.buttons-left-func {
    margin: 3vh;
    background-color: #d9d9d9;
    border-radius: 15px;
    width: 20vh;
    height: 6vh;
    border: 2px solid #5d5d5d;
    font-weight: 300;
    font-size: 16px;
}

.container-left i {
    padding-right: 5px;
    font-size: 15px;
    text-align: center;
}

#button-logout:hover {
    background-color: rgb(193, 0, 0);
    font-weight: 800;
    transition: ease-in-out 0.4s;
}

.display-none {
    display: none;
}

.dash {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    background-color: #161618;
    position: relative;
    top: 0;
    left: 17%;
    justify-content: center;
    text-align: center;
    color: white;
}

.btns-dash {
    display: flex;
    justify-content: center;
}

.btn-chart {
    width: 120px;
    margin: 10px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
}

.btn-blue {
    background-color: #3E68FF;
    font-weight: 600;
    color: #161618;
    border: none;
}

.btn-white {
    background-color: #d9d9d9;
    color: #161618;
}

.graph {
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph {
    width: 70vw;
    height: 70vh;
}

.graficos {
    display: flex;
}

.display-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seletor-setor {
    margin: 3vh;
    background-color: #d9d9d9;
    border-radius: 15px;
    width: 20vh;
    height: 6vh;
    border: 2px solid #5d5d5d;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}
