* {

    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f8f8f8;
}

/* nav bar */

.header {
    background-color: #3E68FF;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.index-primaria {

    background: rgba(17, 17, 17, 0.8) url(../assets/servidor.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 97vh;
    max-width: 100%;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 5px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

div img {
    width: 50px;
    height: 50px;
    padding: 0 30px;
    margin: 0px 20px;
}

.parte-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.container-2 a {
    padding: 0 20px;
}

.cadastro {
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #144fc4;
    border: 0px;
    color: white;
}

.cadastro:hover {

    padding: 10px 15px;
    border-radius: 8px;
    background-color: white;
    border: 0px;
    color: #144fc4;
    cursor: pointer;
    transition: 0.3s;
}

a:hover {

    color: rgb(0, 27, 102);
    transition: 0.4s;
}

/* Card */
.card-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    /* vertical-align:middle; */
}

#form-section {
    display: flex;
    justify-content: center;
}

.inputs-div-card-box {
    display: flex;

}

.inputs-setor {
    display: flex;
    flex-direction: column;

}

.inputs-setor-all {
    display: flex;
}

.inputPais {
    width: 204px;
    height: 25px;
    top: 379px;
    left: 485px;
    border-radius: 5px;
    padding: 15px;
    margin-right: 1vh;

}

.inputCep {
    width: 253px;
    height: 25px;
    top: 379px;
    left: 705px;
    border-radius: 5px;
    padding: 15px;

}

.inputGrande {
    width: 497px;
    height: 25px;
    padding: 15px;
}

.inputRua {
    width: 497px;
    height: 25px;
    top: 432px;
    left: 485px;
    border-radius: 5px;
    padding: 15px;
}

.inputNumero {
    width: 116px;
    height: 25px;
    top: 489px;
    left: 485px;
    border-radius: 5px;
    padding: 15px;
    margin-right: 1vh;
}

.inputComplemento {
    width: 345px;
    height: 25px;
    top: 489px;
    left: 613px;
    border-radius: 5px;
    padding: 15px;

}

.inputCidade {
    width: 229px;
    height: 25px;
    top: 548px;
    left: 485px;
    border-radius: 5px;
    padding: 15px;
    margin-right: 1vh;

}

.inputBairro {
    width: 229px;
    height: 25px;
    top: 548px;
    left: 729px;
    border-radius: 5px;
    padding: 15px;
}

.inputSetorNome {
    width: 308px;
    height: 25px;
    top: 548px;
    left: 485px;
    border-radius: 5px;
    padding: 15px;
    margin-right: 1vh;

}

.inputAndar {
    width: 150px;
    height: 25px;
    top: 548px;
    left: 729px;
    border-radius: 5px;
    padding: 15px;
}

.card-box .setor {
    font-size: 2.7vh;
    color: #474682;
}


.card-box img {
    justify-content: center;
    width: 277px;
    height: 45px;
    margin: 20px 0px;
}


input {
    border-radius: 5px;
    border: 1px black solid;
    margin: 8px 0px;
    font-size: 16px;
}

.button {

    width: 515px;
    padding: 15px;
    margin-top: 8px;
    background-color: #474682;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 18px;

}

.button:hover {

    background-color: #FFFFFF;
    color: #474682;
    font-weight: bolder;
    transition: 0.5s;
    cursor: pointer;
}

.div-etapa1 {
    width: 90vh;
    height: 55vh;
}

input::placeholder {
    font-size: 16px;
}

.div-etapas {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.div-etapas button {
    width: 5vh;
    height: 5vh;
    border-radius: 5px;
}

.btn-n-selecionado:hover {
    background-color: #144fc4;
    color: white;
}

.div-etapa1 {
    flex-direction: column;
    align-items: center;
}

.btn-n-selecionado {
    background-color: transparent;
    cursor: pointer;
    border: #144fc4 3px solid;
    color: #144fc4;
    font-weight: bold;
    box-shadow: 5px 5px 15px -5px black;
}

.btn-selecionado {
    background-color: #144fc4;
    color: white;
}

#etapa1 {
    display: flex;
}

#etapa2 {
    display: none;
}

#etapa3 {
    display: none;
}

.title-setor {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}


.title-setor h1 {
    color: #144fc4;
    font-size: 30px;
}

.title-setor2 {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}


.title-setor2 h1 {
    color: #144fc4;
    font-size: 25px;
}


.div-selects {
    width: 91%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
}

.select-endereco {
    text-align: center;
    width: 48%;
    height: 8vh;
    border-radius: 5px;
    border: 3px solid black;
}

.container-left {
    width: 80vh;
}

.error {
    border: 2px solid red;
}

.valid {
    border: 2px solid rgb(0, 255, 0);
}